<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=yes">
</head>
<body data-namespace="{{ namespace | default('home') }}" data-namespace-function="{{ func | default('') }}">
    {% include "partials/header.njk" %}
    {% include "partials/navbar.njk" %}

    {% block main %}
    {% endblock %}

    {% include "partials/footer.njk" %}
    <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>